<div class="col-lg-3"></div>
<div class="col-lg-6">
  <h2 style="padding-bottom: 12px">Sign Up!</h2>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-row">
      <div class="form-group col-lg-6" style="padding:0;">
        <input
          type="email"
          class="form-control form-control-lg"
          placeholder="First Name"
          name="firstName"
          ngModel
          required
        >
      </div>
      <div class="form-group col-lg-6" style="padding:0;">
        <input
          type="text"
          class="form-control"
          placeholder="Last Name"
          name="lastName"
          ngModel
          required
        >
      </div>
    </div>
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        placeholder="Email"
        name="email"
        ngModel
        required
      >
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <input
        type="password"
        class="form-control"
        placeholder="Password"
        name="password"
        ngModel
        required
      >
    </div>
    <div class="form-group col-lg-4" style="padding:0;">
      <input
        type="text"
        class="form-control"
        placeholder="Age"
        name="age"
        ngModel
        required
      >
    </div>
    <div class="form-group col-lg-8" style="padding:0;">
      <select
        class="form-control"
        ngModel
        required
      >
        <option value="" selected>Your Goal</option>
        <option name="goal">Lose Weight</option>
        <option name="goal">Maintain Weight</option>
        <option name="goal">Gain Mass</option>
      </select>
    </div>
    <button [disabled]="!f.valid" type="submit" class="btn btn-primary">Sign Up</button>
  </form>
</div>
