<div class="col-md-8 col-md-offset-2">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="fname">Author First Name</label>
      <input
          type="text"
          id="fname"
          class="form-control"
          formControlName="firstName">
    </div>
    <div class="form-group">
      <label for="lname">Author Last Name</label>
      <input
          type="text"
          id="lname"
          class="form-control"
          formControlName="lastName">
    </div>
    <div class="form-group">
      <label for="title">Title</label>
      <input
          type="text"
          id="title"
          class="form-control"
          formControlName="title">
    </div>
    <div class="form-group">
      <label for="body">Body</label>
      <textarea rows="25" cols="50" id="body" class="form-control" formControlName="body">
      </textarea>
    </div>
    <button
        class="btn btn-primary"
        type="submit"
        [disabled]="!myForm.valid">Submit</button>
  </form>
</div>