<nav class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <a class="navbar-brand" routerLink="/">The Block</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="/workouts">Workouts</a></li>
      <li routerLinkActive="active"><a routerLink="/articles">Articles</a></li>
      <li routerLinkActive="active"><a routerLink="/tools">Tools</a></li>
      <li routerLinkActive="active"><a routerLink="/recipes">Healthy Recipes</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" style="margin-top: 7px" *ngIf="!isLoggedIn()">
      <button type="submit" class="btn btn-success" routerLink="/signup">Sign Up</button>
      <button type="submit" class="btn btn-primary" routerLink="/signin" style="margin-right: 30px">Login</button>
    </ul>
    <ul class="nav navbar-nav navbar-right" *ngIf="isLoggedIn()" style="margin-right: 10px;">
      <li class="dropdown" appDropdown>
        <a class="dropdown-toggle" role="button">{{}} <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li style=cursor:pointer;><a>Profile</a></li>
          <li role="separator" class="divider"></li>
          <li style=cursor:pointer;><a (click)="onLogout()">Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
