<nav class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <a class="navbar-brand" routerLink="/">The Block</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="/workouts">Workouts</a></li>
      <li routerLinkActive="active"><a routerLink="/articles">Articles</a></li>
      <li routerLinkActive="active"><a routerLink="/tools">Tools</a></li>
      <li routerLinkActive="active"><a routerLink="/recipes">Healthy Recipes</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" style="margin-top: 7px">
      <button *ngIf="!isLoggedIn()" type="submit" class="btn btn-success" routerLink="/signup">Sign Up</button>
      <button *ngIf="!isLoggedIn()" type="submit" class="btn btn-primary" routerLink="/signin" style="margin-right: 30px">Login</button>
      <button *ngIf="isLoggedIn()" type="submit" class="btn btn-primary" (click)="onLogout()" style="margin-right: 30px">Logout</button>
    </ul>
  </div>
</nav>
